@font-face {
  font-family: "OpenSans-Bold";
  src: url(fonts/OpenSans-Bold.ttf);
}
* {
  box-sizing: border-box;
  font-family: "OpenSans-Bold";
}

.active::after {
  content: "  (активная)";
}
.active {
  display: block;
  color: #808491 !important;
  background: #2e313a !important;
}
